extends includes/layout.pug

block main-content
  h2 Front Page

  each topic, index in topics
    div.topic
      div.topic-item
        div.topic-index= index + 1
        div.topic-content
          a(href="/posting/" + topic.id)= topic.title
          div
            small.help
              span= "posted by"
              a(href="/user/" + topic.author.username)= topic.author.username
              span= topic.createdDate.fromNow()
