extends includes/layout.pug

block main-content
  if isEditMode
    div
      h2 Ang Manunulat ng Liham
      div
        p= "Itong sagisag ay naitatag " + utils.convertFromNowToFilipino(profile.createdDate.fromNow())
      div
        if updateProfileStatus.length > 0
          .alert(class=updateProfileStatus[0].status)
            p= updateProfileStatus[0].message
        form(method="POST" action="/user/" + profile.username + "/profile")
          input(type="hidden" name="_csrf" value=csrfToken)
          .form-group
            label(for="username") Sagisag
            input.form-control(type="text" name="username" value=profile.username)
          .form-group
            label(for="emailAddress") Email Address
            input.form-control(type="text" name="emailAddress" value=profile.emailAddress)
          .form-group
            label(for="aboutMe") Tungkol sa manunulat
            textarea.form-control(name="aboutMe" rows="8")= profile.aboutMe
          .form-group
            button.btn(type="submit") Itala ang pagbabago
    div
      h2 Baguhin ang lihim na salita
      div
        if changePasswordStatus.length > 0
          .alert(class=changePasswordStatus[0].status)
            p= changePasswordStatus[0].message
        form(method="POST" action="/user/" + profile.username + "/password")
          input(type="hidden" name="_csrf" value=csrfToken)
          .form-group
            label(for="currentPassword") Ngayong Lihim na Salita (new password)
            input.form-control(type="password" name="currentPassword")
          .form-group
            label(for="newPassword") Bagong Lihim na Salita (new password)
            input.form-control(type="password" name="newPassword")
          .form-group
            button.btn(type="submit") Baguhin
  else
    div
      h2= profile.username
      div
        p= "Itong sagisag ay naitatag " + utils.convertFromNowToFilipino(profile.createdDate.fromNow())
      //- if profile.emailAddress
      //-   div
      //-     a(href="mailto:" + profile.emailAddress)= profile.emailAddress
      if profile.aboutMe
        div
          h4 Tungkol sa manunulat
          p!= profile.aboutMe.replace(/\n/g, '</br>')
