extends includes/layout.pug

include mixins/topicItemMixin.pug

block main-content
  div
    h1= profile.username
    if profile.aboutMe
      div
        p!= profile.aboutMe.replace(/\n/g, '</br>')
    p.grey-text= "Itong sagisag ay naitatag " + utils.convertFromNowToFilipino(profile.createdDate.fromNow())
    if user.id === profile.id
      a(href="/user/settings") Baguhin ang Sarili
  hr
  h4= "Mga " + searchResult.totalCount + " liham na nilatha ni " + profile.username
  .mt-2.mb-2
    each topic, index in searchResult.topics
      +renderTopicItem(topic)

  .pagination
    - let moreUrl = `/user/${profile.username}?size=${options.limit}`
    - const hasPrev = options.page > 1
    - const hasNext = searchResult.totalCount > (options.limit * options.page)
    if hasPrev
      a.mr-2(href=(moreUrl + "&page=" + (options.page - 1))
        title="mga naunanng pahina"
        class=hasNext ? "mr-2" : "") ◀ mga naunang pahina

    if hasNext
      a(href=(moreUrl + "&page=" + (options.page + 1))
        title="susunod na pahina"
        class=hasPrev ? "ml-2" : "") susunod na pahina ▶
