extends includes/layout.pug

block main-content
  h2 Search
  form(action="/search" method="GET")
    input(type="hidden" name="page" value=options.page)
    input(type="hidden" name="size" value=options.limit)
    .form-group-inline
      input.form-control(type="text" name="query" value=options.query placeholder="Search...")
      button.btn(type="submit") Search

  if options.query && searchResult.totalCount === 0
    div We cannot find anything.
  else if searchResult.totalCount === 0
    div What are you looking for?

  each topic, index in searchResult.topics
    div.topic
      div.topic-item
        div.topic-index &rsaquo;
        div.topic-content
          a(href="/posting/" + topic.id)= topic.title
          div
            small.help
              span= "posted by"
              a(href="/user/" + topic.author.username)= topic.author.username
              span= topic.createdDate.fromNow()
  if searchResult.totalCount > (options.limit * options.page)
    hr
    div
      -
        let moreUrl = "/search"
        moreUrl += "?page=" + (options.page + 1)
        moreUrl += "&size=" + options.limit
        moreUrl += "&query=" + options.query
      a(href=moreUrl title="next page") more
