extends includes/layout.pug

block main-content
  div
    h1 Ilatha ang Liham na Iyong Iniiwan
    p Siguraduhin basahin ang mga 
      a(href="/palatuntunan") palatuntunan
      |  bago isulat ang iyong liham na iiwan. 
    if submitPostStatus.length > 0
      .alert(class=submitPostStatus[0].status)
        p= submitPostStatus[0].message
    center
      div.forms2    
        form(method="POST" action="/submit")
          input(type="hidden" name="_csrf" value=csrfToken)
          .form-group.pt-3.pb-3
            label(for="title")
              strong Paksa ng Liham
            input.form-control(type="text" name="title" value="")
            small.text-muted Tungkol saan ang iyong liham?
          .form-group.pt-3.pb-3
            label(for="content")
              strong Dito mo isulat ang iyong liham
            textarea.form-control(name="content" rows="10")
            small.text-muted= "Ginagamit ng liham.ph ay Markdown, marapatin basahin itong gabay mula sa "
              a(href="https://help.github.com/articles/basic-writing-and-formatting-syntax")= "github"
          .form-group.pt-3.pb-3
            label(for="tags")
              strong Mga Pananda (tags)
            input.form-control(type="text" name="tags" value=""
              placeholder="Maglagay ng Pananda")
            small.text-muted Ihiwalay ang mga pananda gamit ang tuldok-kuwit (;). Halimbawa "pag-ibig; lihim; sakit".
          .form-group.mt-2.mb-4
            button.btn.btn-primary(type="submit") Itala ang iyong liham
