extends includes/layout.pug

block main-content
  div
    h2 Submit
    p= "Make sure you read the "
      a(href="/rules") rules
      |  first before writing your job posting.
    if submitPostStatus.length > 0
      .alert(class=submitPostStatus[0].status)
        p= submitPostStatus[0].message
    form(method="POST" action="/submit")
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-group
        label(for="title") Title
        input.form-control(type="text" name="title" value="")
      .form-group
        label(for="content") Content
        textarea.form-control(name="content" rows="10")
        small
          span= "Uses markdown formatting, read this article from "
          a(href="https://help.github.com/articles/basic-writing-and-formatting-syntax")= "github"
          span= " check out the link in the footer"
      .form-group
        button.btn(type="submit") Submit
