extends includes/layout.pug

block main-content
  div
    h2 Ilatha ang liham na iyong iniiwan
    p= "Siguraduhin basahin ang mga "
      a(href="/palatuntunan") palatuntunan
      |  bago isulat ang iyong liham na iiwan.
    if submitPostStatus.length > 0
      .alert(class=submitPostStatus[0].status)
        p= submitPostStatus[0].message
    form(method="POST" action="/submit")
      input(type="hidden" name="_csrf" value=csrfToken)
      .form-group
        label(for="title") Paksa ng Liham
        input.form-control(type="text" name="title" value="")
        small Tungkol saan ang iyong liham?
      .form-group
        label(for="content") Dito mo isulat ang iyong liham
        textarea.form-control(name="content" rows="10")
      .form-group
        label(for="tags") Mga Pananda (tags)
        input.form-control(type="text" name="tags" value="" placeholder="Maglagay ng Pananda")
        small= "Ginagamit ng liham.ph ay Markdown, marapatin basahin itong gabay mula sa "
          a(href="https://help.github.com/articles/basic-writing-and-formatting-syntax")= "github"
      .form-group
        button.btn.btn-dark(type="submit") ⤴ Itala ang iyong liham
