//- @topic - Topic class

mixin renderTopicItem(topic)
  div.topic
    div.topic-item(id="topic" + topic.id)
      div.topic-index
        if topic.isUpvoted
          div.upvote-heart(data-id=topic.postId data-csrf=csrfToken data-count=topic.stats.upvotes)= "❤️"
        else
          div.upvote-heart(data-id=topic.postId data-csrf=csrfToken data-count=topic.stats.upvotes)= "💛"
        div.upvote-count= topic.stats.upvotes
      div.topic-content
        a(href="/posting/" + topic.id)= topic.title
        div
          small.help
            span= "inilatha ni "
            a(href="/user/" + topic.author.username)= topic.author.username
            span= " - " + topic.stats.replies + " tugon - "
            span= utils.convertFromNowToFilipino(topic.createdDate.fromNow())