doctype html
html(lang="en")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content=meta.description)
    title= meta.title
    link(href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600" rel="stylesheet")
    link(rel="stylesheet" data-mincss-group="bootstrap" href="/stylesheets/bootstrap.css")
    link(rel="stylesheet" data-mincss-group="liham" href="/stylesheets/main.css")

  body
    include navbar.pug

    .container.pt-4.pb-3
      block main-content

    .container.p-3
      hr
      footer.footer.mt-4.normal-text
        p.mb-0= "Liham.ph - Isang lugar para mga katha ng mga makata"
        p.mb-0
          a(href="/palatuntunan")= "Palatuntunan"
          span= " - "
          a(href="/tungkol")= "Tungkol sa Amin"
          span= " - "
          a(href="https://help.github.com/articles/basic-writing-and-formatting-syntax/")= "Paano Gumamit ng Markdown"
        p!= "Proyekto ito ng <strong>UST Startup Community</strong> kasama ang mga bumuo sa "
          a(href="https://wanderast.com") wanderast.com
            
    script(data-minjs-group="main" src="/scripts/main.js")
