doctype html
html(lang="en")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content=meta.description)
    title= meta.title
    link(rel="stylesheet" href="/stylesheets/main.min.css")

  body
    include navbar.pug
    .container
      block main-content

    .container
      footer.footer
        hr
        div.footer-brand
          img.kr-brand(src="/images/kw-ico-xs.png" style="width: 24px; height: 24px;")
          div= "Kronowork - Lightweight, fast job postings for tech people - "
            a(href="/rules")= "rules"
            span= " - "
            a(href="https://help.github.com/articles/basic-writing-and-formatting-syntax/")= "how to use markdown"
        p= "Built by Fortcode - Check out our other work "
          a(href="https://wanderast.com")= "wanderast.com"

    script(src="/scripts/main.min.js")
