doctype html
html(lang="en")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(name="description" content=meta.description)
    title= meta.title

    if cdn.enabled
      link(rel="stylesheet" href=cdn.url + "/assets/stylesheets/main.min.css")
    else
      link(rel="stylesheet" href="/stylesheets/main.css")

  body
    include navbar.pug
    .container
      block main-content

    .container
      footer.footer
        hr
        div.footer-brand
          img.kr-brand(src=cdn.url + "/assets/images/kr-xs.png" style="width: 24px; height: 24px;")
          div= "Mga Liham na Iniwan - Isang lugar para mga katha ng mga makata - "
            a(href="/palatuntunan")= "palatuntunan"
            span= " - "
            a(href="https://help.github.com/articles/basic-writing-and-formatting-syntax/")= "paano gumamit ng markdown"
        p= "Binuo ito ng Fortcode - Tignan ang gawa namin para sa mga manlalakbay "
          a(href="https://wanderast.com")= "wanderast.com"

    if cdn.enabled
      script(src=cdn.url + "/assets/scripts/main.js")
    else
      script(src="/scripts/main.js")
